In [1]:
import os
import pandas as pd
import csv
import json

In [2]:
dataframe = pd.DataFrame()
dataframe.head()

Empty DataFrame
Columns: []
Index: []

In [3]:
path = "data_2018/"
directory = os.path.join(path)

for file in os.listdir(directory):
    print(file)
    file_directory = 'data_2018'
    file_path = os.path.join(file_directory, file)
    df = pd.read_csv(file_path)
    dataframe = pd.concat([dataframe, df])
    print(' Number of rows: ', len(dataframe.iloc[:,11]))
    
print('Total rows: ', len(dataframe.iloc[:,11]))
dataframe.head()

201801_citibikenyc_tripdata.csv
 Number of rows:  718990
201802_citibikenyc_tripdata.csv
 Number of rows:  1562094
Total rows:  1562094

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Annual Membership,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Annual Membership,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Annual Membership,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Annual Membership,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Annual Membership,Subscriber,1989.0,1

In [4]:
dataframe.drop(dataframe.columns[12],axis=1,inplace=True)
dataframe.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Subscriber,1989.0,1

In [5]:
dataframe.to_csv('data_2018\data_2018.csv', sep=',', encoding='utf-8', index=False)

In [6]:
row_num = 0
jsonfile = open('data_all.json', 'a')
csvfile = open('data_2018/data_2018.csv', 'r')

fieldnames = ("tripduration","starttime","stoptime","start station id","start station name","start station latitude",
              "start station longitude","end station id","end station name","end station latitude","end station longitude",
             "bikeid","usertype","birth year","gender")

reader = csv.DictReader(csvfile, fieldnames)

for row in reader:
    json.dump(row, jsonfile)
    jsonfile.write('\n')
    row_num += 1
print(f'Total rows: {row_num}')

Total rows: 1562095

In [7]:
row_num = 0    
jsonfile = open('data_all.json', 'a')
path = 'data/'
directory = os.path.join(path)

for file in os.listdir(directory):
    print(file)
    file_directory = 'data'
    file_path = os.path.join(file_directory, file)
    
    csvfile = open(file_path, 'r')

    fieldnames = ("tripduration","starttime","stoptime","start station id","start station name","start station latitude",
                  "start station longitude","end station id","end station name","end station latitude","end station longitude",
                 "bikeid","usertype","birth year","gender")
    
    reader = csv.DictReader(csvfile, fieldnames)
    
    for row in reader:
        json.dump(row, jsonfile)
        jsonfile.write('\n')
        row_num += 1
        
print(f'Total rows: {row_num}')

2013-07 - Citi Bike trip data.csv
2013-08 - Citi Bike trip data.csv
2013-09 - Citi Bike trip data.csv
2013-10 - Citi Bike trip data.csv
2013-11 - Citi Bike trip data.csv
2013-12 - Citi Bike trip data.csv
2014-01 - Citi Bike trip data.csv
2014-02 - Citi Bike trip data.csv
2014-03 - Citi Bike trip data.csv
2014-04 - Citi Bike trip data.csv
2014-05 - Citi Bike trip data.csv
2014-06 - Citi Bike trip data.csv
2014-07 - Citi Bike trip data.csv
2014-08 - Citi Bike trip data.csv
201409-citibike-tripdata.csv
201410-citibike-tripdata.csv
201411-citibike-tripdata.csv
201412-citibike-tripdata.csv
201501-citibike-tripdata.csv
201502-citibike-tripdata.csv
201503-citibike-tripdata.csv
201504-citibike-tripdata.csv
201505-citibike-tripdata.csv
201506-citibike-tripdata.csv
201507-citibike-tripdata.csv
201508-citibike-tripdata.csv
201509-citibike-tripdata.csv
201510-citibike-tripdata.csv
201511-citibike-tripdata.csv
201512-citibike-tripdata.csv
201601-citibike-tripdata.csv
201602-citibike-tripdata.csv
201603-citibike-tripdata.csv
201604-citibike-tripdata.csv
201605-citibike-tripdata.csv
201606-citibike-tripdata.csv
201607-citibike-tripdata.csv
201608-citibike-tripdata.csv
201609-citibike-tripdata.csv
201610-citibike-tripdata.csv
201611-citibike-tripdata.csv
201612-citibike-tripdata.csv
201701-citibike-tripdata.csv
201702-citibike-tripdata.csv
201703-citibike-tripdata.csv
201704-citibike-tripdata.csv
201705-citibike-tripdata.csv
201706-citibike-tripdata.csv
201707-citibike-tripdata.csv
201708-citibike-tripdata.csv
201709-citibike-tripdata.csv
201710-citibike-tripdata.csv
201711-citibike-tripdata.csv
201712-citibike-tripdata.csv
Total rows: 53266736